<h1>Here is a list of flights that you are following</h1>

<% flights.forEach(f=> { %>
    <p>Origin: <%= f.origin %>
    </p>
    <p>Destination: <%= f.destination%>
    </p>
    <p>Departure At: <%= f.departure_at %>
    </p>
    <p>Cost: $<%= f.price %>
    </p>
    <p>Duration: <%= f.duration %> minutes
    </p>
    <a href="/flights/<%= f.id %>">Flight Info</a>
    <br>
    <% }) %>