<h1>This shows 1 flight</h1>

<p>Origin: <%= flight.origin %>
</p>
<p>Destination: <%= flight.destination%>
</p>
<p>Departure At: <%= flight.departure_at %>
</p>
<p>Cost: $<%= flight.price %>
</p>
<p>Duration: <%= flight.duration %> minutes
</p>